<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿No recuerdas tu contraseña? <a href="/passwordRecover">Recupera tu clave</a></p>
    {{!-- <p>¿Tienes cuenta de Github? <a href="/github/login">Haz login por Github</a></p> --}}
</div>


<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>