<div>
    <h1>Recupero de clave</h1>
    <br/>
    <form id="recoverForm">

        <label>Ingrese su Email de Registro</label>
        <input name="email">
        <br/>
        <br/>
        <input type="submit">
    </form>
</div>

<script src="/js/passwordRecover.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>